
.nav-link{
    color: black;
    margin-left: 4em;   
}
.btn-warning,.fa-search
{
    margin-left: 2em;
}
.site-banner{
    margin-top: 7%;
}
#p1{
    background-color: rgba(19, 110, 95, 0.774);
    padding-top: 7%;
    margin-right: 0em;
    padding-bottom: 5%;
    border-radius: 1%;
    box-shadow: 2px 2px 2px grey;
    
}
.site-buttons{
    margin-left: 8em;
    margin-top: 2em;
}
.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}
#image1{
    margin-top: 15em;
    margin-left: 63.5%;
    margin-top: -22em;
}
.images{
    background-color: rgba(19, 110, 95, 0.774);
    padding-left:2em ;
    padding-right: 2em;
    border-radius: 1em;
    padding-top: 4em;
    margin-top: 5em;
    padding-bottom: 5em;
}

.title{
    font-weight: bold;
    padding-top: 2em;
    margin-left: 2em;
    margin-top: -2em;
    padding-bottom: 5em;
    
}
#but{
    margin-left: 7em;
    margin-top: 2em;
}
.col-sm-4{
    width: 50px;
    padding-top: 3%;
    margin-left: 2%;
    border: 1px solid  rgba(19, 110, 95, 0.774);
    border-radius: 2em;
    margin-top: 5em;
}
.cod{
    border: 1px solid red;
    width: 200px;
    border-radius: 1em;
    padding-top: 2em;
    padding-left: 3.2em;
    padding-bottom: 2em;
    padding-right: 7em;
    margin-right: 2em;
    margin-top: 2em;
    text-align:center;
}
.des,.pre{
    border: 1px solid  rgba(19, 110, 95, 0.774);
    width: 200px;
    border-radius: 1em;
    color: rgba(19, 110, 95, 0.774);;
    text-align: center;
    padding-top: 2em;
    padding-left: 3.2em;
    padding-bottom: 2em;
    padding-right: 7em;
    margin-right: 2em;
    margin-top: 2em;

}
.mk{
    border: 1px solid  orange;
    width: 200px;
    border-radius: 1em;
    color: orange;
    text-align: center;
    padding-top: 2em;
    padding-left: 3.2em;
    padding-bottom: 2em;
    padding-right: 7em;
    margin-right: 2em;
    margin-top: 2em;
}
.row-cols-sm-6{
    margin-left: 5em;
}
.red{
    margin-top: 5em;
}
.red{
    background-color: rgb(245, 46, 46);
    padding-top: 2em;
    width: 100%;
}
.img-bottom{
    width: 100%;
}
#but1{
    margin-left: 30em;
    margin-top: 3em;
}
.jane{
    margin-top: 5em; 
      
}
.j1{
    border: 1px solid  rgba(19, 110, 95, 0.774);
    width: 300px;
    text-align: center;
    padding-top: 2em;
    padding-left: 4em;
    padding-bottom: 2em;
    padding-right: 7em;
    margin-left: 3em;
    margin-top: 2em;
}
.w2{
    margin-top: 7em;
    background-color: rgb(245, 46, 46);
    padding-left: 7em;
    margin-left: -12em;
    width: 93.5em;
    padding-bottom: 5em;
}
.footer-img{
    width: 100%;
}
.baks{
    margin-top:  -24em;
   
}

.b1{
    margin-left: 60em;
    margin-top: -27em;
}
#buto1,#buto2{
    margin-top: 4em;
    margin-left: 7em;

}
.b2{
    margin-top: 7em;
}

.last{
    margin-top: 5em;
}
.cols-sm-6{
    margin: 50px;
    word-spacing: 0.0em;
    background: rgb(249, 250, 249);
    display: block;
    padding-top: 5%;
    padding-bottom: 7%;
    padding-left: 7em;
    margin-left: -12em;
    width: 93.5em;
    margin-right: -19em;
}
.ima1{
    border: 1px solid rgba(19, 110, 95, 0.774);
    padding: 10px;
    width: 200px;
    border: none;
}

#but3{
    margin-top: 4em;
    margin-left: 35em;
}

footer{
    background: rgba(19, 110, 95, 0.774);
    padding-top: 5%;
    padding-bottom: 7%;
    padding-left: 7em;
    margin-left: -12em;
    width: 93.5em;
    margin-right: -19em;
}